build/
.gradle/
.idea/
.vscode/
.settings/
target/
bin/
.project
.classpath
.vscodeignore
/bootstrap.xml
/font-awesome.xml
/bootstrap-snippets.json
/font-awesome-snippets.json
*.vsix
*.*~
*.log
launch.json
snippets.json